<div class="fr-skiplinks">
    <nav class="fr-fluid" role="navigation" aria-label="{{ 'front.header.fast.access'|trans }}">
        <ul class="fr-skiplinks__list fr-pl-0">
            <li>
                <a class="fr-link" href="#header-navigation">{{ 'front.header.menu'|trans }}</a>
            </li>
            <li>
                <a class="fr-link" href="#search-data">{{ 'front.search.dataset'|trans }}</a>
            </li>
            <li>
                <a class="fr-link" href="#content">{{ 'front.main.name'|trans }}</a>
            </li>
            <li>
                <a class="fr-link" href="#footer">{{ 'front.footer.name'|trans }}</a>
            </li>
        </ul>
    </nav>
</div>