<div class="fr-fluid">
    <div class="fr-grid-row">
        <div class="fr-col-md-4 fr-col-sm-12">
            {% include 'partials/oneguide/_menuoneguide.html.twig' %}
        </div>
        <div class="fr-col-md-8 fr-col-sm-12">
            {% include 'partials/common/_printmenu.html.twig' %}
            <div id="print-area"> 
                <h1 class="fr-h1 actu-title-border fr-mb-1v">{{ entity.title }}</h1>
                <div class="fr-mt-2w">
                    {% if entity.imageLocale is not empty %}
                    <div class="fr-card__img">
                        <img src="{{ entity.imageLocale }}" class="fr-responsive-img" style="width: 100%" alt="{{ entity.title }}">
                    </div>
                        {% if entity.imgLicence or entity.imgLegend is not empty  %}
                            <div class="color-grey-666">
                                <figcaption>{{ entity.imgLegend }}</figcaption><small>{{ entity.imgLicence }}</small><br/>
                            </div>
                        {% endif %}
                    {% endif %}
                    <span class="fr-text--xs color-grey-666">{{ 'front.updatedAt'|trans }} {{ entity.updatedAt|date("d/m/Y") }}</span>
                    <div class="fr-my-4w">
                        {{ entity.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fr-fluid">
    {% include 'partials/oneguide/_seetoo.html.twig' %}
</div>

<!-- Hide page elements for print commands -->
<style type="text/css" media="print">
    .fr-header, .fr-container, .fr-sidemenu,
    .search-up-data, .fr-footer, .fr-footer__bottom,
    .backtotop, .print-input { display: none !important }
</style>