<div class="fr-pb-3w fr-mx-0 fr-mx-md-3w">
    <div class="fr-grid-row">
        <div class="fr-col">
            <h1 class="fr-h1 actu-title-border fr-mb-1v">{{ entity.title }}</h1>
        </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col">
            {% if entity.taxonomies is not empty %}
                <div class="fr-py-1w new-tag-order">
                    {% for taxonomy in entity.taxonomies %}
                        <p class="fr-tag color-tag text-decoration-none tag-pad fr-text--xs">{{ taxonomy.term }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="fr-mt-2w">
                <span class="fr-text--xs color-grey-666">{{ 'front.updatedAt'|trans }} {{ entity.updatedAt|date("d/m/Y") }}</span>
                <div class="fr-my-4w">
                    {{ entity.content|raw }}
                    <p class="fr-text--sm actu-color-link fr-pt-2w"><a href="{{ entity.link }}" class="fr-tag color-tag text-decoration-none tag-pad fr-text--xs" target="_blank">{{ 'front.actualities.goto'|trans }}</a><span class="fr-fi--sm fr-fi-arrow-right-line fr-pl-1w"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>