{% extends 'base.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}

{% block body %}
    {% include 'partials/header/_header.html.twig' %}
    <main class="fr-fluid" role="main">
        {% block main %}
            {% include 'partials/pageswithoutimages/_bannerpage.html.twig' %}
            {% block page %}
                <div class="fr-container fr-pb-3w padding-body fr-mx-0 fr-mx-md-3w fr-pt-2w">
                    <div class="fr-grid-row">
                        <div class="fr-col">
                            <h1 class="fr-h1 actu-title-border fr-mb-1v">{{entity.title}}</h1>
                        </div>
                    </div>
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col">
                            <div class="fr-mt-4w">
                                <span class="fr-text--xs color-grey-666">{{'front.updatedAt'|trans}} {{entity.updatedAt|date("d/m/Y")}}</span>
                                <div class="fr-my-4w">
                                    {{entity.content|raw}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% include 'partials/common/_search-footer.html.twig' %}
        {% endblock %}
    </main>
    {% include 'partials/footer/_footer.html.twig' %}
{% endblock %}
