<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{% block meta_description %}{{ 'app.meta_description'|trans }}{% endblock %}">
    <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/icons/favicon.ico') }}" sizes="any">
    <link rel="apple-touch-icon" type="image/x-icon" href="{{ asset('build/images/icons/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ asset('build/images/icons/site.webmanifest') }}">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link rel="stylesheet" href="/build/css/dsfr-theme-tac.min.css"></link>
    <link rel="stylesheet" href="/build/dsfr/dsfr/dsfr.min.css"></link>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="top" title="Haut de page"></div>
<div class="fr-grid-row">
    {% block body %}
    {% endblock %}
</div>
<script type="module" src="/build/dsfr/dsfr/dsfr.module.min.js"></script>
<script type="text/javascript" nomodule src="/build/dsfr/dsfr/dsfr.nomodule.min.js"></script>
</body>
