<div class="fr-container fr-pb-3w padding-body fr-mx-0 fr-mx-md-1w mx-lg-3">

    {# INTRO BANNER #}
    {% if introBanner.isEnable %}
        <div class="fr-grid-row">
            <div class="fr-col">
                <h1 class="fr-h1 actu-title-border fr-mb-1v">{{ introBanner.title }}</h1>
                <p class="fr-text fr-mt-2w">{{ introBanner.description|raw }}</p>
            </div>
        </div>
    {% else %}
        <div class="fr-grid-row">
            <div class="fr-col">
                <h1 class="fr-h1 actu-title-border fr-mb-2w">{{ titleName }}</h1>
            </div>
        </div>
    {% endif %}
    {# END BANNER #}

    {# CONTENT #}
    {% for dataset in datasets %}
        {% set pathDataset = path('front.dataset.show', {'slug': dataset.slug}) %}
        <div class="fr-grid-row fr-mb-4w">
            <div class="fr-col fr-pt-0">
                <div class="fr-card fr-card--no-arrow fr-card--horizontal fr-enlarge-link fr-mb-4w">
                    <div class="fr-card__body justify-content-center">
                        <h2 class="fr-card__title">
                            <a href="{{ pathDataset }}" class="fr-card__link">{{ dataset.title }}</a>
                        </h2>
                        <p class="fr-card__desc">{{ dataset.hook|striptags|u.truncate(dataset_len_max_title, '...', false)|raw }}</p>
                        <p class="fr-card__detail new-date-order">{{ 'front.pages.published'|trans }} {{ dataset.updatedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
                        {% if dataset.taxonomies is not empty %}
                            <div class="fr-py-1w new-tag-order"><a href="{{ pathDataset }}" class="fr-tag color-tag text-decoration-none tag-pad fr-text--xs" target="_self">{{ dataset.taxonomies[0].term }}</a></div>
                        {% else %}
                            <div class="link-hover-background fr-py-1w new-tag-order"><a href="{{ pathDataset }}" class="text-decoration-none fr-text--xs" target="_self"></a></div>
                        {% endif %}
                        <p class="fr-text--sm actu-color-link">{{ 'front.actualities.read'|trans }}<span class="fr-fi--sm fr-fi-arrow-right-line fr-pl-1w"></span></p>
                    </div>
                    <div class="fr-card__img fr-mx-0 fr-my-0 fr-mx-md-3w fr-my-md-7w">
                        {% if dataset.imageLocale is not empty %}
                            <img src="{{ dataset.imageLocale }}" class="fr-responsive-img" alt="{{ dataset.title }}">
                        {% else %}
                            <img src="{{ asset('build/images/novisual.png') }}" class="fr-responsive-img" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {{ knp_pagination_render(datasets) }}
    {# END CONTENT #}

</div>